# DICTIONARY

In [ ]:
- Dictionary is represents with curly braces

-Strings using quotes

-List using square brackets

-Type using parnathses

- Dictionary is always a pair key and value

-<key>:<value>

In [1]:
name={"nagesh","sameer","shareef","mubbashir"}
age=[22,24,26,28]
for i,j in zip(name,age):
    print(i,j)

mubbashir 22
sameer 24
nagesh 26
shareef 28

In [2]:
#<key>:<value>
dict1={"nagesh":22,"sameer":24,"shareef":26,"mubbashir":28}
dict1

{'nagesh': 22, 'sameer': 24, 'shareef': 26, 'mubbashir': 28}

In [3]:
type(dict)

type

In [5]:
dict1={"nagesh":22,"sameer":24,"shareef":26,"mubbashir":28}
dict1

{'nagesh': 22, 'sameer': 24, 'shareef': 26, 'mubbashir': 28}

In [7]:
dict2={"nagesh":"22","sameer":"24","shareef":"26","mubbashir":"28"}
dict2

{'nagesh': '22', 'sameer': '24', 'shareef': '26', 'mubbashir': '28'}

In [ ]:
dict3={25:"nagesh",20:"sameer",22:"shareef",26:"mubbashir",:20}
dict3   # not works

In [ ]:
dict4={25:50}
dict4  # not works

In [ ]:
dict5={Fruits":["Apple","cherry"]}
dict5

- **keys are important***

- keys have only latest value

- no duplicate keys

- keys should be only one

- values can be duplicate

- which means diffrent keys can have same value

- list can not be a key

    - tuple can be a key

- min

- max

- len

- sorted

- reversed

In [9]:
d={"nagesh","sameer","shareef","mubbashir"}
min(d)

'mubbashir'

In [10]:
d={"nagesh","sameer","shareef","mubbashir"}
max(d)

'shareef'

In [11]:
d={"nagesh","sameer","shareef","mubbashir"}
len(d)

4

In [6]:
d={"nagesh","sameer","shareef","mubbashir"}
sorted(d)

['mubbashir', 'nagesh', 'sameer', 'shareef']

In [11]:
d={"nagesh":20,"sameer":22,"shareef":25,"mubbashir":23}
for i in reversed(d):
    print(i,end=' ')

mubbashir shareef sameer nagesh

In [1]:
d={"nagesh":20,"sameer":22,"shareef":25,"mubbashir":23}
d["nagesh"]

20

In [ ]:
** Keys are important**

-Dictionary is a **key-value** pair

-there is no concept of index as numbers

-if you want to rewrite any value e need to provide key index

-we can access values using only corresponding keys

In [3]:
d={"nagesh":20,"sameer":22,"shareef":25,"mubbashir":23}
print(d["nagesh"])
print(d["sameer"])
print(d["shareef"])
print(d["mubbashir"])

20
22
25
23

In [4]:
for i in d:
    print(i,d[i])

nagesh 20
sameer 22
shareef 25
mubbashir 23

In [8]:
for i in d:
    print(f" {i} age is {d[i]}")

 nagesh age is 20
 sameer age is 22
 shareef age is 25
 mubbashir age is 23

In [13]:
# How to access the elememt
d={"Fruits":["Apple"]}
d["Fruits"][0]

'Apple'

In [18]:
d={"Fruits":{"Apple":["Kashmir"]}}
d["Fruits"]

{'Apple': ['Kashmir']}

In [19]:
len(d)

1

In [23]:
d1={"Fruits":{"Apple":[
                    {"Kashmir":"india"},
                    {"hyd":"TS"},
                    ]
             }
   }
d1

{'Fruits': {'Apple': [{'Kashmir': 'india'}, {'hyd': 'TS'}]}}

In [30]:
d1["Fruits"]["Apple"][1]["hyd"]

'TS'

In [31]:
d={"Fruits":{"Mango":{"Benganpalli":{"Nagapur market":{"MH":{"Shivaji":"the boss"}}}}}}
d

{'Fruits': {'Mango': {'Benganpalli': {'Nagapur market': {'MH': {'Shivaji': 'the boss'}}}}}}

In [32]:
d["Fruits"]["Mango"]["Benganpalli"]["Nagapur market"]["MH"]["Shivaji"]

'the boss'

In [33]:
len(d)

1

In [ ]:
# How to create empty dictionary 

- It is very important to know how to make empty list

-How to make empty string

-How to make empty dictionary

In [5]:
str1="python"
str2=''
for i in str1:
    str2=str2+i
print(*str2)

p y t h o n

In [2]:
l1=[1,2,3,4,5]
l2=[]
for i in l1:
    l2.append(i)
l2

[1, 2, 3, 4, 5]

In [4]:
d={}
d["Ramesh"]=50
d["suresh"]=100
d["sathish"]=150
d["manish"]=200
d

{'Ramesh': 50, 'suresh': 100, 'sathish': 150, 'manish': 200}

In [5]:
len(d)

4

# Convert to list

In [6]:
# splict: convert string to list
str1="hai how are you"
l=str1.split()
l

['hai', 'how', 'are', 'you']

# join convert list to string

In [9]:
l=['hai', 'how', 'are', 'you']
' '.join(l)

'hai how are you'

In [10]:
l=['hai', 'how', 'are', 'you']
new_string=' '.join(l)
new_string

'hai how are you'

# we have two lists to convert into dictionary

In [12]:
name=["nagesh","kishore","shabarinath"]
age=[20,10,3]
d={}
for i,j in zip(name,age):
    d[i]=j
d

{'nagesh': 20, 'kishore': 10, 'shabarinath': 3}

In [17]:
str="hello how are you"
l=str.split()
l

['hello', 'how', 'are', 'you']

In [18]:
l=['hello', 'how', 'are', 'you']
' '.join(l)

'hello how are you'

In [20]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# dir(' ')  # string
# dir([ ])   # list
# dir({ })   # dict
# dir(( ))   # tuple

In [ ]:
** Items keys-values**
- Items means both keys and values come together

-keys means only dictionary keys

-values means only dictionary values

In [23]:
d={"nagesh":25,"manish":23,"suresh":24}
it=d.items()
it

dict_items([('nagesh', 25), ('manish', 23), ('suresh', 24)])

In [24]:
type(it)

dict_items

In [25]:
list(it)

[('nagesh', 25), ('manish', 23), ('suresh', 24)]

In [ ]:
# Type casting
-int()

-float()

-str()

-list()

In [30]:
d={"nagesh":25,"manish":23,"suresh":24}
it=d.items()
items_list=list(it)
name=[]
age=[]
for i in items_list:
    name.append(i[0])
    age.append(i[1])
name

['nagesh', 'manish', 'suresh']

In [31]:
age

[25, 23, 24]

In [35]:
# step:-1 Create a lowercase letters list using string package
# steo:-2 create a digits list 1 to 26
# step:-3 create a dictionary {'a':1.'b':2,......'z':26}
# step:-4 enter a string : hai
# step:-5 output: 8-1-9
import string
lower_case=list(string.ascii_lowercase)
digits=list(range(1,27))

'abcdefghijklmnopqrstuvwxyz'

In [7]:
dir={}
type(dir)

dict

In [8]:
len(dir)

0

In [9]:
s=set()
type(s)

set

In [10]:
t=(())
type(t)

tuple

In [11]:
a=(10)
type(a)

int

In [12]:
a=(20,)
type(a)

tuple

In [13]:
import string
lowercase_letters = list(string.ascii_lowercase)
digits_list = list(range(1, 27))
letter_to_position = {letter: position for letter, position in zip(lowercase_letters, digits_list)}
user_input = input("Enter a string: ")
output = "-".join(str(letter_to_position[letter]) for letter in user_input)
print("Output:", output)

Enter a string:  hai

Output: 8-1-9